# This compose file can be useful to debug the Jupyter(lab) part, outside of Jupyterhub
# It is not meant to be deployed in production.

services:
  jupyter:
    build: jupyter
    image: blsq/openhexa-base-environment
    volumes:
      - ./jupyter/local_python_modules:/opt/local_python_modules
      - ./jupyter/config:/etc/jupyter

    ports:
      - 8888:8888
    command: ["jupyter", "lab", "--ip=0.0.0.0"]